---
key: 2
title: Topics
permalink: /topics/
options: fullwidth
excerpt: A Casa da Oliveira – Clínica de Saúde Psiquiátrica de Coimbra dispõe de capacidade de internamento de 14 utentes, em quartos individuais ou duplos com casa de banho privativa. Dispomos ainda de salas de refeições e de convívio com mesa de bilhar, ginásio, piscina e jardim. As divisões encontram-se climatizadas com sistema de ar condicionado e com instalações próprias para utentes com mobilidade reduzida e/ou condicionada. A participação dos utentes na gestão das atividades de vida diárias permite a sua boa reintegração no seio familiar e social. O internamento funciona em regime de porta aberta*, e proporciona a prática de atividades internas e externas de ginástica, musicoterapia, sessões de cinema, passeios ao ar livre, idas à praia, entre outras.
image: pic01.jpg
background-image: pic01.jpg
---

{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.topics %}{%
          if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
