---
key: 2
title: Literacia em saúde mental
permalink: /topics/
options: fullwidth
excerpt: Descubra o que são doenças do foro psiquiátrico e informe-se sobre as características de cada uma delas.
image: pic01.jpg
background-image: pic01.jpg
layout: post
---





<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
<link rel="stylesheet" type="text/css" href="../css/flexgrid.css">

<div class="Grid">
  <div class="Grid-cell--auto"><li><img src="https://img.icons8.com/dusk/48/000000/mental-health.png">&nbsp;</span><span class="label">- fa-star</span></li><a>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.</a></div>
  <div class="Grid-cell--auto"><li><span class="icon fa-star major style1">&nbsp;</span><span class="label">- fa-star</span></li><a>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.</a></div>
  <div class="Grid-cell--auto"><li><span class="icon fa-star major style1">&nbsp;</span><span class="label">- fa-star</span></li><a>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.</a></div>
  <div class="Grid-cell--auto"><li><span class="icon fa-star major style1">&nbsp;</span><span class="label">- fa-star</span></li><a>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.</a></div>


{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.topics %}{%
          if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
