---
key: 2
title: Literacia em saúde mental
permalink: /topics/
options: fullwidth
excerpt: Descubra o que são doenças do foro psiquiátrico e informe-se sobre as características de cada uma delas.
image: pic01.jpg
background-image: pic01.jpg
layout: post
---
<!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>This section lets you pick from behind six doors</h2>
        <p>Which one will you choose?</p>
      </header>
      <ul class="features">
        <li class="icon fa-paper-plane-o">
          <h3>Arcu accumsan</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-laptop">
          <h3>Ac Augue Eget</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-code">
          <h3>Mus Scelerisque</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-headphones">
          <h3>Mauris Imperdiet</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-heart-o">
          <h3>Aenean Primis</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-flag-o">
          <h3>Tortor Ut</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
      </ul>
    </div>
  </section>


{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Últimos tópicos</h4>

{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
