---
key: 1
title: O que fazemos
permalink: /works/
excerpt: Projectos em desenvolvimento
image: pic02.jpg
layout: post2
---


<h1> Filosofia</h1>
				<p><span class="image left"><img src="../images/pic04.jpg" alt="" /></span>A Casa da Oliveira é um novo conceito de abordagem ao tratamento e recuperação de pessoas com perturbações do foro mental, em situação aguda ou crónica.
Sob a orientação de quatro profissionais da área da saúde mental, a tempo inteiro, com forte experiência profissional multifacetada, visa a aplicação de práticas inovadoras de intervenção em contexto de internamento psiquiátrico.
Focamos a nossa intervenção na pessoa, na individualidade de cada um e no planeamento específico e adaptado visando o objetivo comum de alcançar estabilidade psíquica, a reabilitação e posterior reintegração psicossocial, através da definição e motivação para um projeto pessoal abrangente, a nível escolar/académico, profissional, físico, artístico e lúdico.
A componente do internamento, em ambiente sob desígnio de ambiente familiar, continente e protetor, com espaços aprazíveis, que conjugados com metodologias de intervenção especializadas e inovadoras, visam obter resultados mais eficazes e mais eficientes. </p>

<h1>O que nos destingue</h1>
        <p><span class="image right"><img src="../images/pic04.jpg" alt="" /></span>Na Casa da Oliveira, cada utente tem associado um projeto de intervenção único, que integra uma abordagem multidisciplinar, nomeadamente psicoterapia, psiquiatria, enfermagem especializada em saúde mental, atividades físicas, artísticas e lúdicas.
A dinâmica comunitária conseguida pela inserção num internamento que visa equipar-se ao meio ambiente familiar proporciona a obtenção de resultados mais duradouros e eficazes na estabilização psíquica de cada utente e do grupo.
Na Casa da Oliveira estão presentes técnicos 24 horas por dia, sete .
Dispomos de serviço de lavandaria, alimentação cuidada e adequada, limpeza integral do espaço, tudo isto ao cuidado de auxiliares de serviços gerais devidamente capacitados sendo que estes serviços estão todos incluídos nos honorários de cada utente.
Disponibilizamos múltiplos espaços de lazer, como ginásio, material e espaços para leitura, piscina, jardim exterior, sala de convívio para além de material e lugares afetos a atividades individuais e de interação.
Dirigimos o nosso trabalho para a reintegração familiar e psicossocial, escolar/académica e profissional.
O staff profissional da Casa da Oliveira fará sempre o Follow-up de todos os processos.  </p>

<left><h1> Localização</h1></left>
<div class="box alt">
					<div class="row uniform 50%">
						<div class="12u"><span class="image fit"><img src="../images/banner.jpg" alt="" /></span></div>
<br><br>
				<p>Situada em Coimbra, região centro do país, com acessos rodoviários privilegiados de autoestradas, estradas nacionais e transportes públicos.
Inserida num bairro calmo, com a distânica qb do centro da cidade, proporciona um ambiente calmo e agradável aos utentes.
A comunidade terapêutica tem à disposição tratamento na área da saúde mental numa vertente integrativa, multidisciplinar num ambiente continente e protetor dirigida a indivíduos de ambos os sexos em regime de internamento e ambulatório.
A Casa da Oliveira conta com uma equipa multidisciplinar constituída por Psicólogos Clínicos, Médicos Psiquiatras, Enfermeiros Especialistas em Saúde Mental e outros profissionais da área Psicossocial cujo objetivo comum visa a estabilização do quadro clínico, reeducação e reintegração social do utente.  </p>



{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>
{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
