---
key: 1
title: O que fazemos
permalink: /works/
excerpt: A Casa da Oliveira dispõe de tratamento, na área da saúde mental, em regime de internamento com acompanhamento multidisciplinar. Para cada utente é elaborado um Plano de Intervenção Individual, tendo como suporte à sua elaboração a avaliação psicoterapêutica e psiquiátrica. O Plano de Intervenção Individual é único e integra não só o acompanhamento psicoterapêutico e psiquiátrico, como a realização de atividades físicas, artísticas e lúdicas. Para cada caso clínico é nomeado um terapeuta de referência que serve de elo de ligação entre o utente e a família. Disponibilizamos também tratamento, na área da saúde mental, em regime de clínica de dia, com acesso a todos os serviços de acompanhamento multidisciplinar, mas que pela estabilização do quadro clínico, o utente regressa a casa ao final do dia. Os utentes em regime de clínica de dia dispõem igualmente de um Plano de Intervenção Individual e de um terapeuta de referência.
image: pic02.jpg
background-image: pic02.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
